<div id = "left">
  Username: <%= @username %><br>
  City: <%= @user.profile.city %><br>
  Bio: <%= @user.profile.description %>

  <hr>
  <p>
    <a href="/edit">Edit your account</a>
    <br>
    <a href="/account_delete">Delete your account <br>
      <span id="warn">(warning: this is irreversible)</span></a>
  </p>
</div>

<div id = "right">
  <h4 id ="profileh4">What <%= @username %> is saying lately:</h4>
  <% @posts.reverse.each do |post| %>

    <div id ="your_posts"> 
        <%= post.body %>
        <hr>
    </div>
  <% end %>
 </div> 

